.c-dark-footer
{
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;

    // bottom: 0;
    width: 100%;
    z-index: 1000;
    // position: absolute;
  
    // left: 50%;
    // transform: translateX(-50%);



    p
    {
        color: #b9b9b9;
        text-decoration: none;
        font-size: 12px;

    }
}