$transitionStyle : all 0.6s ease;
$Neutral-White : #fff;

$Neutral-Black : #111;;

.c-glide-carousel {
    width: 100%;
    // height: 100lvh;
    background: $Neutral-Black;
    padding: 100px 0 100px 0;
    overflow: hidden;
    position: relative;
    margin-top: 190px;
    min-height: 100vh;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media all and (max-width: 1200px) {
        // height: 56.998958vw;
        height: auto;
    }

    // @media all and (max-width: 767px) {
    //     height: 78.199vh;
    // }

    // @media all and (max-width: 1200px) {
    //     height: auto;
    // }
    // @media all and (max-width: 767px) {
    //     height: auto;
    // }

    .c-section-heading {
        margin-bottom: 0;

        @media all and (max-width: 1200px) {
            margin-bottom: 83px;
        }
    }
    .glide-carousel-container {
        display: flex;
        width: 100%;
        height: 36.998vw;
        position: relative;
        justify-content: center;
        align-items: center;
        // overflow: hidden;

        @media all and (max-width: 1200px) {
            // height: 56.998vw;
            height: 450px;
        }
        // 976px
        @media all and (max-width: 976px) {
            height: 48vw;
        }
        // @media all and (max-width: 767px) {
        //     height: 54.998vw;
        // }
        // @media all and (min-width: 768px) and (max-height: 800px) {
        //     height: 36.998vw;
        // }
    }

    .slick-slide {
        width: 41.146vw;
        position: relative;
        z-index: 1;

        @media all and (max-width: 1200px) {
            width: clamp(320px, 82.06vw, 800px);
        }
        @media all and (min-width: 768px) and (max-height: 800px) {
            width: clamp(320px, 82.06vw, 540px);
        }
        // @media all and (max-width: 767px) {
        //     width: 80vw;
        // }

        &.slick-active {
            .glide-item-inner {
                .glide-item-text-wrap {
                    opacity: 1;
                    pointer-events: all;

                    html[dir='rtl'] & {
                        direction: rtl;
                    }
                }

                .glide-item-desc {
                    opacity: 1;
                    pointer-events: all;
                    margin-top: 20px;


                    html[dir='rtl'] & {
                        direction: rtl;
                    }
                }
            }
        }

        .glide-item-inner {
            transition: all 0.5s;
            transform: translateX(0%);

            .glide-item-text-wrap {
                position: absolute;
                bottom: 12.239vw;
                left: 0;
                width: 100%;
                color: white;
                font-size: clamp(10px, 0.729vw, 18px);
                font-weight: 300;
                display: flex;
                justify-content: space-between;
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease-in-out;

                html[dir='rtl'] & {
                    direction: rtl;
                }

                @media all and (max-width: 1200px) {
                    font-size: clamp(12px, 0.729vw, 14px);
                    bottom: 235px;
                }
                @media all and (max-width: 976px) {
                    bottom: calc(23vw + 10px);
                }
                // @media all and (min-width: 768px) and (max-height: 800px) {
                //     bottom: 18.162vw;
                // }

                // @media all and (max-width: 767px) {
                //     bottom: 27.16297262059974vw;
                // }
            }

            .glide-item-desc {
                position: absolute;
                top: 11.3vw;
                left: 0;
                color: white;
                font-size: clamp(28px, 1.666vw, 48px);
                font-weight: 300;
                width: 100%;
                // max-width: 20ch;
                text-wrap: pretty;
                opacity: 0;
                pointer-events: none;
                transition: all 0.6s ease-in-out;

                html[dir='rtl'] & {
                    direction: rtl;
                }

                @media all and (max-width: 1200px) {
                    font-size: clamp(24px, 6.153vw, 32px);
                    top: 219px;
                }
                @media all and (max-width: 976px) {
                    top: 23vw;
                }
                // @media all and (max-width: 767px) {
                //     top: 24.90221642764016vw;
                // }
            }
        }
        .glide-img-wrap {
            img {
                width: 11.458vw;
                aspect-ratio: 3 / 4;
                transition: all 0.5s;
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                top: 50%;
                object-fit: cover;
                border-radius: 12px;
                opacity: 0.5;

                // @media all and (max-width: 1200px) {
                //     width: clamp(260px, 42.666667vw, 760px);
                //     aspect-ratio: 16 / 9;
                // }

                @media all and (max-width: 1200px) {
                    width: clamp(260px, 66.66666666666667vw, 760px);
                    height: clamp(120px, 46.153vw, 450px);
                    aspect-ratio: 7 / 4;
                }
            }
        }
        &.slick-active {
            z-index: 2;

            .glide-img-wrap {
                img {
                    transform: translate(-50%, -50%);
                    width: 41.146vw;
                    height: 23.125vw;
                    aspect-ratio: 16 / 9;
                    opacity: 1;

                    @media all and (max-width: 1200px) {
                        width: clamp(320px, 82.051vw, 800px);
                        height: clamp(120px, 46.153vw, 450px);
                    }
                    // @media all and (min-width: 768px) and (max-height: 800px) and (max-width: 1200px) {
                    //     width: clamp(320px, 82.06vw, 460px);
                    // }
                }
            }

            & + .slick-slide {
                .glide-item-inner {
                    transform: translateX(-33%);
                }

                @media all and (min-width: 1201px) {
                    & + .slick-slide {
                        .glide-item-inner {
                            transform: translateX(-102%);
                        }
                        & + .slick-slide {
                            .glide-item-inner {
                                transform: translateX(-170%);
                            }
                            & + .slick-slide {
                                .glide-item-inner {
                                    transform: translateX(-238%);
                                }
                                & + .slick-slide {
                                    .glide-item-inner {
                                        transform: translateX(-308%);
                                    }
                                    & + .slick-slide {
                                        .glide-item-inner {
                                            transform: translateX(-378%);
                                        }
                                        & + .slick-slide {
                                            .glide-item-inner {
                                                transform: translateX(-448%);
                                            }
                                            & + .slick-slide {
                                                .glide-item-inner {
                                                    transform: translateX(-518%);
                                                }
                                                & + .slick-slide {
                                                    .glide-item-inner {
                                                        transform: translateX(-588%);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                @media all and (max-width: 1200px) {
                    .glide-item-inner {
                        transform: translateX(2%);
                    }
                    & + .slick-slide {
                        .glide-item-inner {
                            transform: translateX(2%);
                        }
                    }
                }
                @media all and (max-width: 1024px) {
                    .glide-item-inner {
                        transform: translateX(-4%);
                    }
                    & + .slick-slide {
                        .glide-item-inner {
                            transform: translateX(-4%);
                        }
                    }
                }
            }
        }

        @media all and (min-width: 1201px) {

            &.before-active-0 .glide-item-inner {
                transform: translateX(33%);
            }
            &.before-active-1 .glide-item-inner {
                transform: translateX(102%);
            }
            &.before-active-2 .glide-item-inner {
                transform: translateX(170%);
            }
            &.before-active-3 .glide-item-inner {
                transform: translateX(238.5%);
            }
            &.before-active-4 .glide-item-inner {
                transform: translateX(308%);
            }
            &.before-active-5 .glide-item-inner {
                transform: translateX(378%);
            }
            &.before-active-6 .glide-item-inner {
                transform: translateX(448%);
            }
            &.before-active-7 .glide-item-inner {
                transform: translateX(518%);
            }
            &.before-active-8 .glide-item-inner {
                transform: translateX(588%);
            }
            &.before-active-9 .glide-item-inner {
                transform: translateX(658%);
            }
        }
        @media all and (max-width: 1200px) {
            &.before-active-0 .glide-item-inner {
                transform: translateX(-2%);
            }
        }
        @media all and (max-width: 1024px) {
            &.before-active-0 .glide-item-inner {
                transform: translateX(4%);
            }
        }
    }

    .glide-carousel {
        width: 41.146vw;

        @media all and (max-width: 1200px) {
            width: clamp(320px, 82.06vw, 800px);
        }
        // @media all and (min-width: 768px) and (max-height: 800px) {
        //     width: clamp(320px, 82.06vw, 540px);
        // }
        // @media all and (max-width: 767px) {
        //     width: 80vw;
        // }

        .slick-list {
            overflow: visible;
        }
        .slick-slide {
            opacity: 1;
            transition: none;
        }

        img {
            max-width: 100%;
        }
    }

    .slick-arrow {
        display: flex !important;
        align-items: center;
        border-radius: 100px;
        border: 1px solid $Neutral-White;
        padding: 0.625vw 0.8333333333333333vw;
        transition: all 0.6s ease;

        img {
            width: 1rem;
            height: 1rem;
        }

        &.slick-prev {
            img {
                transform: rotate(180deg);
            }
        }

        &.slick-disabled {
            opacity: 0.3;
        }
    }

    .slick-next,
    .slick-prev {
        z-index: 3;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        // border: none;
        cursor: pointer;
        transition: all 0.5s;

        html[dir='rtl'] & {
            transform: rotate(180deg) translateY(-50%);
        }
        &:hover {
            background: transparent;
        }
        &.slick-disabled {
            display: none;
        }
    }

    .slick-next {
        right: -3.4375vw;
    }
    .slick-prev {
        left: -3.4375vw;
    }

    .explore-btn {
        position: absolute;
        // top: clamp(543px, 63.270vh, 63.270vh);
        bottom: clamp(30px, 10vh, 13vh);
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid $Neutral-White;
        border-radius: 100px;
        padding: 1.777251184834123vh 11.53846153846154vw;
        color: $Neutral-White;
        font-size: clamp(14px, 3.58974358974359vw, 16px);
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.6s ease;
        text-wrap: nowrap;
        white-space: nowrap;

        img {
            margin-left: 2.051282051282051vw;

            html[dir='rtl'] & {
                //flip the image
                transform: rotate(180deg);
                margin-right: 0px;
                margin-left: 2.051282051282051vw;
            }
        }

        @media all and (min-width: 1201px) {
            display: none;
        }
    }

    .view-all-btn {
        // width: max-content;
        position: absolute;
        top: 19.75rem;
        right: 80px;
        // transform: translateX(50%);
        // border: 1px solid $Neutral-White;
        padding: 0px;
        color: $Neutral-White;
        border-radius: 100px;
        font-size: clamp(16px, 1.041vw, 24px);
        line-height: 1.4em;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.6s ease;
        text-decoration: none;
        z-index: 99;

        img {
            margin-left: 8px;

            html[dir='rtl'] & {
                //flip the image
                transform: rotate(180deg);
                margin-right: 0px;
                margin-left: 8px;
            }
        }

        @media all and (max-width: 1200px) and (min-width: 768px) {
            top: clamp(30px, 2vh, 13vh);
        }

        @media all and (max-width: 1201px) {
            display: none;
        }
    }
}

.c-section-heading {
   
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // gap: 19px;
    font-size: clamp(20px, 1.666vw, 32px);
    font-weight: 500;
    line-height: 1em;
    text-align: center;
    margin-bottom: 9.768vh;
    transition: $transitionStyle;
    position: relative;
    z-index: 3;
    margin-top: 0;

    @media all and (max-width: 1200px) {
        font-size: clamp(16px, 6.153vw, 32px);
        line-height: 1.4em;
        margin-bottom: 16.113vh;

        .ellipse {
            width: 14px;
            height: 14px;
            border-radius: 12px;
        }
    }

    .ellipse {
        transition: $transitionStyle;
        background-color: $Neutral-Black;
        width: clamp(14px, 1.041666666666667vw, 24px);
        height: clamp(14px, 1.041666666666667vw, 24px);
        pointer-events: none;
        border-radius: 999px;
        margin-right: 12px;

        @media all and (max-width: 1200px) {
            width: clamp(14px, 3.589vw, 24px);
            height: clamp(14px, 3.589vw, 24px);
        }

        &.is-orange {
            background-color: #fff;
        }
    }

    // Variant for dark backgrounds
    &.section-heading--dark {
        color: #fff;

        .ellipse {
            background-color: #fff;

            &.ellipse--iswhite {
                background-color: #fff;
            }
        }
    }

    // Variant for centered text
    &.section-heading--centered {
        justify-content: center;
    }
}

