


// plugins
@import 'plugins/intlTelInput.css';
@import 'services-carousel.scss';
@import 'hamburger.scss';
@import 'marquee.scss';
@import 'footer.scss';
// main url
$domain-link: '';
:root {
    --vh: 1vh;
}

html {
    font-size: 0.8333333333vw;

    @media (max-width: 1200px) {
        font-size: 1.3333334vw;
    }

    @media (max-width: 767px) {
        font-size: 4.102564103vw;
    }
}


/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #1a1a1a, #2a2a2a);
    background-image: url($domain-link + '/assets/images/hero-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}


header {
    padding: 1rem 0px;
    z-index: 3;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    
    
    img {
        width: 180px;

        @media screen and (max-width: 767px) {
            width: 120px;
            
        }
    }
}

.nav-links {
    display: none;
}

// .auth-links {
//     display: flex;
//     align-items: center;
// }

.login {
    color: #ccc;
    text-decoration: none;
    margin-right: 1rem;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    height: 50px;
    border-radius: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: .2s;
    outline: none;
    background: #0aa0a5;
    border-color: #1fccd2;
    overflow: hidden;
    position: relative;
    gap: 10px;

    span {
        transition: .2s;
        transform: translate(-15px, 0%);
    }

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../images/icons/right.svg') no-repeat 50%;
    background-size: contain;
    // position: absolute;
    // left: -40px;
    // top: 50%;
    transition: .2s;
    transform: translate(-50px, 0%);
  
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;
  }

    &:hover {
     
    
        span {
        transform: translate(0, 0%);
       
        }

        &::before {
            opacity: 1;
            transform: translate(0, 0%);
        }
    }

}

main {
    padding: 2rem 1rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-heading
    {
        span 
        {
            color: #1fccd2;
        }
    }
}

.hero-text {
    text-align: center;
    margin-bottom: 2rem;

    .top-text-wrap {
        border-left: 1px solid #fff;
        padding-left: 15px;
    }
}

.subtitle {
    color: #fff;
    margin-bottom: 1.5rem;
}

.subtext {
    color: #fff;
    margin-bottom: 0rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}





#container {
    #logo {
       width: 0;
       height: 0;
       display: none !important;
   }
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

// @media (min-width: 768px) {
    nav {
        padding: 1rem 4rem;
        z-index: 1;
        @media screen and (max-width: 767px) {
            padding:1rem 1rem;
            
        }
    }

    .nav-links {
        display: flex;
        list-style: none;
    }

    .nav-links li {
        margin: 0 1rem;
    }

    .nav-links a {
        color: #ccc;
        text-decoration: none;
    }

    main {
        padding: 4rem 4rem;
        height: 70vh;

        @media screen and (max-width: 767px) {
            padding: 2rem 1rem;
            
        }
    }

    .hero-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70vh;
      


    }

    .hero-text {
        text-align: left;
        max-width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;


    }

    h1 {
        font-size: 5rem;
        //text shadow
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

   

    .scene3d
    {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;

        canvas
        {
            @media screen and (min-width: 767px) {
               transform: translateX(250px);
                
            }
        }

    
    }


    .c-contact-us
{
    position: absolute;
    top: -100vh;
    left: 0;
    scale: 0.5;
    transition: scale 0.3s;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: rgba(0, 0, 0, 0.8);

    &.is--active
    {
        scale: 1;
        top: 0;
    }

    .js-contact-close
    {
        position: absolute;
        top: 1rem;
        right: 100px;
        color: #000;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        //circle button
        width: 50px;
        height: 50px;
        border-radius: 999px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: normal;

        //normalize
    }

    

}
   
// }


//responsive code for small devices
@media screen and (max-width: 767px) {
    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #333;
        padding: 1rem;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .nav-links a {
        color: #ccc;
        text-decoration: none;
    }

    .auth-links {
        display: none;
    }

    .cta-button {
       //responsive code for cta button
        padding: 10px 20px;
        height: 40px;
        font-size: 12px;
    }

    //responsive code for hero content
    .hero-content {
        flex-direction: column;
        height: 100%;
    }

    .hero-text {
        text-align: left;
        margin-bottom: 2rem;

        h1 {
            font-size: 2rem;
            //text shadow
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
    }


    .c-header {
        height: 0 !important;
        &.is--sticky {
            height: 0 !important;
        }
    }

    .c-contact-us
    {
        position: absolute;
        top: -100vh;
        left: 0;
        // scale: 0.5;
        transition: scale 0.3s;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        background: rgba(0, 0, 0, 0.8);

        &.is--active
        {
            scale: 1;
            top: 0;
        }

        .js-contact-close
        {
            position: absolute;
            top: 1rem;
            right: 20px;
            color: #000;
            font-size: 1rem;
          
         
            width: 30px;
            height: 30px;
    
          

            //normalize
        }

        

    }

}





.byVismeButton--PYBh3EN
{
    display: none !important;
}


.c-social-media {
    position: absolute;
    top: 50vh;
    right: 4.167vw;
    transform: translateY(-50%);

    @media screen and (max-width: 767px) {
      left: 20px;
      display: none;
    }

    .txt {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0.06em;
      text-align: center;
      margin: 0;
      margin-bottom: 16px;
    }

    .social-list {
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      flex-direction: column;
      gap: 27px;

      @media (max-width: 767px) {
        flex-direction: row;
      }

      .social-list-line {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

}


.bg-video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;

    //add overlay
    &::before
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    video
    {
        width: 100%;
        height: 120vh;
        object-fit: cover;
    }
}


.is--desktop
{
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}


.is--mobile
{
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}