<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include "src/comps/head.html" %}
    </head>

    <body class="is--home">
        <div class="bg-video">
            <video class="bg-video__content is--desktop" autoplay muted loop>
                <source src="{{domain_link}}/assets/images/services/herovideo.mp4" type="video/mp4" />
                Your browser is not supported!
            </video>
            <video class="bg-video__content is--mobile" autoplay muted loop>
                <source src="{{domain_link}}/assets/images/services/mob-vid.mp4" type="video/mp4" />
                Your browser is not supported!
            </video>

        </div>
        {% include "src/comps/after-body.html" %} {% include
        "src/comps/header.html" %}

        {% include "src/comps/home.html" %}

           

           

            {% include "src/comps/services.html" %}

            {% include "src/comps/marquee.html" %}

            
        {% include "src/comps/footer.html" %}
    </body>
</html>
